.loading {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100vh;
    top: 0px;
    margin:0px 0px 0px 0px;
    background-color: #8bc34a;
}

.l-a {
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 20%;
}

.load-succ-a {
    animation-name: load-succ;
    animation-duration: 1s;
    animation-iteration-count: 1;
  }

  .load-succ {
      display: none;
      opacity: 0;
  }

@keyframes load-succ {
    0% {
        opacity:1 
    }
    100% {
        opacity:0
    }
    
  }
  .modal {
      width: 96vw;
      height: 96vh;
  }

.main {
    height: calc(100vh - 1px);
}

.game {
    height:calc(100vh - 1px);
}